*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    background-color: #FFB03A;
    width:100%;
}
.container{
    width:60%;
    margin:0px auto;
}
.square{
    width:30%;
    background-color: brown;
    padding-bottom: 30%;
    margin:1.5%;
    float:left;
    border-radius: 30px;
}
.tabs{
    display:flex;
    justify-content: space-between;
}
.btn{
    padding:10px;
    border:none;
    background-color: rgb(0,0,0,0);
    font-size: 18px;
}
.btn:hover{
    background-color: dodgerblue;
    color:white;
}
#result{
    color:#94A606;
    font-size:20px;
    font-weight:800;
}